<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content" th:remove="tag">
    <div class="row row-buffer">
        <div class="col-xs-12">
            <button id="team_new_btn"
                    type="button"
                    class="btn btn-default"
                    aria-label="Left Align"
                    th:attrappend="data-action=${@teamPageDefinition.actionNew}">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true" th:text="' ' + #{action.new}"/>
            </button>
        </div>
    </div>
    <div class="row row-buffer">
        <div class="col-xs-12">
            <div class="list-group">
                <div th:each="model : ${models}" class="list-group-item clearfix">
                    <span class="list-group-item-heading">
                        <a class="delete_link"
                           th:attrappend="data-action=${@teamPageDefinition.actionDelete}"
                           th:attrprepend="data-id=${model.id}"
                           style="color: red;">
                            <span class="glyphicon glyphicon-remove"/>
                        </a>
                            <a class="edit_link"
                               th:attrappend="data-action=${@teamPageDefinition.actionEdit}"
                               th:attrprepend="data-id=${model.id}"
                               style="color: darkorange; margin-left: 3px;">
                                <span class="glyphicon glyphicon-edit"/>
                            </a>
                            <span th:text="${model.name}"/>
                    </span>
                    <span class="list-group-item-text pull-right">
                        <span th:text="${model.gamesWin} + ' ' + #{won}"
                              class="badge"/>
                        <span th:text="${model.gamesLost} + ' ' + #{lost}"
                              class="badge"/>
                        <span th:text="${model.gamesEqual} + ' ' + #{even}"
                              class="badge"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var form = $("#team_edit_form");
            $("#team_new_btn").on("click", function () {
                var button = $(this);
                EM.postInvoker(button.attr("data-action"), null, "container-main");
            });
            $("a.delete_link").on("click", function () {
                var link = $(this);
                EM.postInvoker(link.attr("data-action"), "id=" + link.attr("data-id"), "container-main");
            });
            $("a.edit_link").on("click", function () {
                var link = $(this);
                EM.postInvoker(link.attr("data-action"), "id=" + link.attr("data-id"), "container-main");
            });
        });
    </script>
</div>
</body>
</html>