<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="${@resourceHelper.cssMain}" rel="stylesheet" type="text/css"/>
    <link th:href="${@resourceHelper.cssBootstrap}" rel="stylesheet" type="text/css"/>
    <script th:src="${@resourceHelper.jsJquery}" type="text/javascript"/>
    <script th:src="${@resourceHelper.jsBootstrap}" type="text/javascript"/>
    <script th:src="${@resourceHelper.jsJqueryValdiation}" type="text/javascript"/>
    <script th:src="${@resourceHelper.jsUtil}" type="text/javascript"/>
    <title>ADD_LOC_MSG_HERE</title>
</head>
<body>
<div th:replace="fragments/header :: navigation-header">Navigation Bar</div>
<div id="container-main" class="container main">
    <div class="row row-buffer">
        <div class="col-xs-12 page-title">
            <h2 th:text="#{${@sessionHelper.currentViewTitleKey}}">Employee List</h2>
        </div>
    </div>
    <div th:replace="${@sessionHelper.currentViewTemplate} :: content">
        Content
    </div>
</div>
</body>
</html>