<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content" th:remove="tag">
    <div class="row row-buffer">
        <div class="col-xs-12">
            <div class="list-group">
                <div th:each="model : ${models}" class="list-group-item clearfix">
                    <span class="list-group-item-heading">
                        <span th:text="${model.email}"
                              style="font-weight: bold;"/>
                    </span>
                    <span class="list-group-item-text pull-right">
                        <span th:text="${model.tipsTotal} + ' ' + #{total}"
                              class="badge"/>
                        <span th:text="${model.tipsOpen} + ' ' + #{open}"
                              class="badge"/>
                        <span th:text="${model.tipsWon} + ' ' + #{won}"
                              class="badge"/>
                        <span th:text="${model.tipsLost} + ' ' + #{lost}"
                              class="badge"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>