<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="row row-buffer">
        <div class="col-xs-12">
            <form id="tip_form" method="post"
                  th:action="${@tipEditPageDefinition.actionSave}"
                  th:object="${editModel}">
                <div class="row">
                    <div class="col-xs-5 form-group text-right">
                        <label for="tip_team1"
                               th:text="#{games.team1}"/>
                        <h4 id="tip_team1" th:text="${editModel.team1Name}"/>
                    </div>
                    <div class="col-xs-2 text-center"><h4>:</h4></div>
                    <div class="col-xs-5 form-group text-left">
                        <label for="tip_team2"
                               th:text="#{games.team1}"/>
                        <h4 id="tip_team2" th:text="${editModel.team2Name}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 form-group text-right">
                        <label for="tip_goals_team1"
                               th:text="#{games.goalsTeam1}"/>
                        <input id="tip_goals_team1"
                               name="goalsTeam1"
                               type="number"
                               class="form-control"
                               min="0"
                               max="100"
                               step="1"
                               placeholder="0"
                               required="required"
                               style="text-align: right;"
                               th:value="${editModel.goalsTeam1}"/>
                    </div>
                    <div class="col-xs-2 text-center"></div>
                    <div class="col-xs-5  form-group text-left">
                        <label for="tip_goals_team2"
                               th:text="#{games.goalsTeam2}"/>
                        <input id="tip_goals_team2"
                               name="goalsTeam2"
                               class="form-control"
                               type="number"
                               min="0"
                               max="100"
                               step="1"
                               placeholder="0"
                               required="required"
                               style="text-align: left;"
                               th:value="${editModel.goalsTeam2}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group text-center">
                        <label for="tip_game_date"
                               th:text="#{games.date} + ':'"/>
                            <span id="tip_game_date"
                                  th:text="${#temporals.format(editModel.gameDate, #messages.msg('app.date.format.dateTime'))}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label for="tip_email" th:text="#{email}"/>
                        <input id="tip_email"
                               name="email"
                               class="form-control"
                               type="email"
                               required="required"
                               th:value="${editModel.email}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="tip_game_id"
                               name="gameId"
                               type="hidden"
                               th:value="${editModel.gameId}"/>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-12 text-center">
                        <button id="tip_btn_back"
                                type="button"
                                class="btn btn-default"
                                th:text="#{action.back}"
                                th:attrappend="data-action=${@gamePageDefinition.actionIndex}"/>
                        <button id="tip_btn_score"
                                type="button"
                                class="btn btn-default"
                                th:text="#{tips.score}"
                                th:attrappend="data-action=${@tipEditPageDefinition.actionIndex}"/>
                        <button id="tip_btn_save"
                                type="submit"
                                class="btn btn-default"
                                th:text="#{action.tip}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row row-buffer" th:if="${!createdModels.isEmpty()}">
        <div class="col-xs-12">
            <div class="list-group">
                <div th:each="model : ${createdModels}" class="list-group-item clearfix">
                    <span class="list-group-item-heading">
                        <a class="delete_link"
                           th:attr="data-action=${@tipEditPageDefinition.actionDelete}"
                           th:attrappend="data-id=${model.id}"
                           style="color: red;">
                            <span class="glyphicon glyphicon-remove"/>
                        </a>
                        <span th:text="${model.team1Name}"
                              style="font-weight: bold;"/>
                        <span th:text="' [' + ${model.goalsTeam1} + '] '"/>
                        <span th:text="':'"/>
                        <span th:text="' [' + ${model.goalsTeam2} + '] '"/>
                        <span th:text="${model.team2Name}"
                              style="font-weight: bold;"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var form = $("#tip_form");
            $("a.delete_link").on("click", function () {
                var link = $(this);
                EM.postInvoker(link.attr("data-action"), "id=" + link.attr("data-id") + "&gameId=" + $("input[name=gameId]").val(), "container-main");
            });
            $("#tip_btn_delete").on("click", function () {
                var button = $(this);
                EM.postInvoker(button.attr("data-action"), "id=" + $("input[name=id]").val() + "&gameId=" + $("input[name=gameId]").val(), "container-main");
            });
            $("#tip_btn_back").on("click", function () {
                var button = $(this);
                window.top.location = button.attr("data-action");
            });
            $("#tip_btn_score").on("click", function () {
                var button = $(this);
                window.top.location = button.attr("data-action");
            });
            // Enable client side form validation
            form.validate({
                submitHandler: function (_form) {
                    EM.formSubmitHandler(_form, "container-main");

                    return false;
                }
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>