<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">
    <div class="page-title">
        <h2 th:text="#{${@sessionHelper.currentViewTitleKey}}">Employee List</h2>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <button id="team_new_btn"
                        type="button"
                        class="btn btn-default"
                        aria-label="Left Align"
                        th:attrappend="data-action=${@gamePageDefinition.actionNew}">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true" th:text="' ' + #{action.new}"/>
                </button>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <ul class="list-group">
                    <li th:each="model : ${models}" class="list-group-item clearfix">
            <span class="list-group-item-heading">
                <a class="delete_link"
                   th:attrappend="data-action=${@gamePageDefinition.actionDelete}"
                   th:attrprepend="data-id=${model.id}"
                   style="color: red;">
                    <span class="glyphicon glyphicon-remove"/>
                </a>
                    <a class="edit_link"
                       th:attrappend="data-action=${@gamePageDefinition.actionEdit}"
                       th:attrprepend="data-id=${model.id}"
                       style="color: darkorange; margin-left: 3px;">
                        <span class="glyphicon glyphicon-edit"/>
                    </a>
                    <a class="tip_link"
                       th:attrappend="data-action=${@tipPageDefinition.actionNew}"
                       th:attrprepend="data-id=${model.id}"
                       style="color: green; margin-left: 3px;">
                        <span class="glyphicon glyphicon-usd"/>
                    </a>
                </span>
                      <span class="list-group-item-text">
                        <span th:text="${model.team1Name}"
                              style="font-weight: bold;"/>
                        <span th:text="' [' + ${model.goalsTeam1} + '] '"
                              th:if="${model.finished}"
                              th:style="${model.team1Winner ? 'color: red' : 'color:orange'}"/>
                        <span th:text="':'"/>
                        <span th:text="' [' + ${model.goalsTeam2} + '] '"
                              th:if="${model.finished}"
                              th:style="${model.team2Winner ? 'color: red' : 'color:orange'}"/>
                        <span th:text="${model.team2Name}"
                              style="font-weight: bold;"/>
                <span class="pull-right">
                          <span th:if="${model.gameDate != null}"
                                th:text="'(' + ${#temporals.format(model.gameDate, #messages.msg('app.date.format.dateTime'))} + ')'"
                                style=""/>
            <span th:text="${model.tipTeam1Count} + ' ' + #{tips.one}"
                  class="badge"/>
            <span th:text="${model.tipTeam2Count} + ' ' + #{tips.two}"
                  class="badge"/>
            <span th:text="${model.tipEventCount} + ' ' + #{tips.even}"
                  class="badge"/>
                </span>
                    </span>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var form = $("#team_edit_form");
            $("#team_new_btn").on("click", function () {
                var button = $(this);
                EM.getInvoker(button.attr("data-action"), null, "container-main");
            });
            $("a.delete_link").on("click", function () {
                var link = $(this);
                EM.postInvoker(link.attr("data-action"), "id=" + link.attr("data-id"), "container-main");
            });
            $("a.edit_link").on("click", function () {
                var link = $(this);
                EM.getInvoker(link.attr("data-action"), "id=" + link.attr("data-id"), "container-main");
            });
            $("a.tip_link").on("click", function () {
                var link = $(this);
                EM.postInvoker(link.attr("data-action"), "id=" + link.attr("data-id"), "container-main");
            });
        });
    </script>
</div>
</body>
</html>