<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="page-title">
        <h2 th:text="#{${@sessionHelper.currentViewTitleKey}}">Page Title</h2>
    </div>
    <div class="page-content">
        <div class="row row-buffer">
            <form id="team_edit_form" th:action="@{${@teamEditPageDefinition.actionSave}}" th:object="${editModel}"
                  method="post">
                <fieldset class="form-group">
                    <label for="team_name" th:text="#{name}"/>
                    <input id="team_name" name="name" type="text" class="form-control"
                           minlength="3"
                           maxlength="50"
                           required="required"
                           th:value="${editModel.name}"
                           th:placeholder="#{placeholder.team.name}"/>
                </fieldset>
                <input id="team_id" name="id" type="hidden" th:value="${editModel.id}"/>
                <input id="team_version" name="version" type="hidden" th:value="${editModel.version}"/>
                <button id="team_btn_new"
                        type="button"
                        class="btn btn-primary"
                        th:text="#{action.new}"
                        th:attrappend="data-action=${@teamEditPageDefinition.actionNew}"/>
                <button id="team_btn_save"
                        type="submit"
                        class="btn btn-primary"
                        th:text="#{action.save}"/>
                <button id="team_btn_delete"
                        type="button"
                        class="btn btn-primary"
                        th:text="#{action.delete}"
                        th:if="${!editModel.newModel}"
                        th:attrappend="data-action=${@teamEditPageDefinition.actionDelete}"/>
                <button id="team_btn_back"
                        type="button"
                        class="btn btn-primary"
                        th:text="#{action.back}"
                        th:attrappend="data-action=${@teamEditPageDefinition.actionBack}"/>
            </form>
        </div>
        <div class="row row-buffer" th:if="${!createdModels.isEmpty()}">
            <ul class="list-group">
                <li th:each="model : ${createdModels}" class="list-group-item">
                <span class="list-group-item-heading">
                    <a class="delete_link" th:attr="data-action=${@teamEditPageDefinition.actionDelete}"
                       th:attrappend="data-id=${model.id}"
                       style="color: red;">
                        <span class="glyphicon glyphicon-remove"/>
                    </a>
                    <a class="edit_link" th:attr="data-action=${@teamEditPageDefinition.actionEdit}"
                       th:attrappend="data-id=${model.id}"
                       style="color: darkorange; margin-left: 3px;">
                        <span class="glyphicon glyphicon-edit"/>
                    </a>
                </span>
                    <span th:text="${model.name}"/>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var form = $("#team_edit_form");
            $("a.delete_link").on("click", function () {
                var link = $(this);
                EM.postInvoker(link.attr("data-action"), "id=" + link.attr("data-id"), "container-main");
            });
            $("a.edit_link").on("click", function () {
                var link = $(this);
                EM.getInvoker(link.attr("data-action"), "id=" + link.attr("data-id"), "container-main");
            });
            $("#team_btn_new").on("click", function () {
                var button = $(this);
                EM.getInvoker(button.attr("data-action"), "id=" + $("input[name=id]").val(), "container-main");
            });
            $("#team_btn_delete").on("click", function () {
                var button = $(this);
                EM.postInvoker(button.attr("data-action"), "id=" + $("input[name=id]").val(), "container-main");
            });
            $("#team_btn_back").on("click", function () {
                var button = $(this);
                EM.getInvoker(button.attr("data-action"), null, "container-main");
            });
            // Enable client side form validation
            form.validate({
                submitHandler: function (_form) {
                    EM.formSubmitHandler(_form, "container-main");
                    return false;
                }
            });
        });
    </script>
</div>
</body>
</html>